SESSION_DRIVER=cookie

# nest api
NEXT_PUBLIC_API_URL=http://localhost:8001
NEXT_PUBLIC_UPLOAD_BASE=http://localhost:8001

# laravel api
# NEXT_PUBLIC_API_URL=http://localhost:8000
# NEXT_PUBLIC_UPLOAD_BASE=http://localhost:8000

# NEXT_PUBLIC_API_URL=https://api.example.com
# NEXT_PUBLIC_UPLOAD_BASE=https://api.example.com

NEXT_PUBLIC_GOOGLE_CLIENT_ID=your_google_client_id.apps.googleusercontent.com

# Cashfree Mode ("sandbox" for Local/Test, "production" for Live)
NEXT_PUBLIC_CASHFREE_MODE=sandbox