SESSION_DRIVER=cookie

# Nest API
NEXT_PUBLIC_API_URL=http://localhost:8001
NEXT_PUBLIC_UPLOAD_BASE=http://localhost:8001

# Google OAuth
NEXT_PUBLIC_GOOGLE_CLIENT_ID=your_google_client_id.apps.googleusercontent.com

# Cashfree Mode ("sandbox" for Local/Test, "production" for Live)
NEXT_PUBLIC_CASHFREE_MODE=sandbox