SESSION_DRIVER=cookie

# Nest API (public URLs used by browser)
NEXT_PUBLIC_API_URL={{ frontend_url }}
NEXT_PUBLIC_UPLOAD_BASE={{ upload_public_url }}

# Google OAuth
NEXT_PUBLIC_GOOGLE_CLIENT_ID={{ google_client_id }}

# Cashfree Mode ("sandbox" for Test, "production" for Live)
NEXT_PUBLIC_CASHFREE_MODE={{ cashfree_mode }}

# App URL
NEXT_PUBLIC_APP_URL={{ frontend_url }}
